= form_for @post, remote: true, class: "form-inline" do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.text_area :body, class: "form-control", placeholder: "Введите текст"
  .actions
    = f.submit
