= div_for post do
	%li.list-group-item
		%p
			%strong= post.user.email
			= time_ago_in_words(post.created_at) 
		%p= post.body
		%p
			= link_to "Изменить", edit_post_path(post), remote: true, class: "btn btn-default"
			= link_to "Удалить", post, remote: true, method: :delete, class: "btn btn-danger"
