!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title TestApp
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		= nav_bar  responsive: true do
			= menu_group do
				= menu_item 'Гостевая книга', posts_path
				= menu_item 'Logout', destroy_user_session_path, :method => :delete

		.container
			.row
				.col-md-12
					= yield
